<%= simple_form_for(@park) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.collection_select(:billing_id, Billing.current, :id, :member_id, {include_blank:""}, class:"form-control weight", id:"inputmember", autofocus: true ) %>
   
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
