<div class="container-fluid">
	<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="well well-lg panel">
						<ul class="nav nav-pills">
						  <li role="presentation" class="active"><button id="angkat_portal", class="btn btn-default">Angkat Portal</button></li>
						  <li role="presentation"><button id="turunkan_portal", class="btn btn-success">Turunkan Portal</button></li>
						</ul>
				</div>
				<%= link_to "Billing", billings_path, class: 'btn btn-primary' %>
			</div>
	</div>
</div>
