
<button id="angkat_portal", class="btn btn-default">Angkat Portal</button>
<button id="turunkan_portal", class="btn btn-success">Turunkan Portal</button>

<script >
		$('#angkat_portal').click(function(){
		   $.get('/angkat_portal')
		 });

		$('#turunkan_portal').click(function(){
		   $.get('/turunkan_portal')
		});
		 var pusher = new Pusher('429f0dfaaec2f4d689e8');
		 var channel = pusher.subscribe('button');
		 channel.bind('angkat_portal', function(data) {
		   $('body').css({background: 'red'})
		 });
		 channel.bind('turunkan_portal', function(data) {
		   $('body').css({background: 'white'})
		 });
</script>