<% current_billings.each do |bill| %>
<div class="running_time"></div>
	<div class="time">
		<%= number_with_precision((Time.now - bill.time_in)/3600, precision: 2) %>
  	</div>
	<div class="stop">
		<%= link_to 'Stop', stop_billing_path(bill), data: { confirm: 'Anda yakin menghentikan Billing ini?' }, method: :patch %>
	</div>
<% end %>