<center>
  <h3>Selamat Datang</h3>
  <h1>Silahkan Scan Member Card Anda</h1>

  <%= render 'form' %>
  
</center>

<%= link_to '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="Index"></span> Index'.html_safe, billings_path, class: 'btn btn-default' %>


	

