<div class="site">
  <div class="services-page">
    <div class="error-template">
      <h1>
        Oops!
      </h1>
      <h2>
        404 Not Found
      </h2>
      <div class="error-details">
        Sorry, an error has occured, Requested page not found!
        You tried to access '#{@not_found_path}', which is not a valid page.
      </div>
      <div class="error-actions">
        <a class="button_simple_orange btn btn-primary btn-lg" href="<%= root_path %>">
          <span class="glyphicon glyphicon-home"></span>
          Take Me Home
        </a>
      </div>
    </div>
  </div>
</div>