<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3>Hapus Report</h3>
  </div>
  <div class="modal-body">
  <ul class="errors"></ul>
  Apakah Anda Ingin Menghapus Report <b><%= @report.name %></b>?
  </div>
  <div class="modal-footer">
    <%= link_to "Ya, Hapus Report Ini", report_path(@report), method: :delete, remote: true, class: "btn btn-danger" %>
    <%= link_to "Tidak", "#", class: "btn btn-default",  data: { dismiss: "modal" } %>
  </div>
  </div>
</div>