<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Edit Laporan</h3>
    </div>
    <div class="modal-body">
      <%= render 'form' %>
    </div>
    <div class="modal-footer">
      <%= link_to 'Show', @report, remote: true, class: 'btn btn-primary' %> 
      <%= link_to 'Tutup', '#', remote:true, data:{dismiss: 'modal'}, class: 'btn' %>
    </div>
  </div>
</div>

