<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <h1>Buat Laporan</h1>

      <%= render 'form' %>

      <%= link_to 'Kembali', '#', remote:true, data:{dismiss: 'modal'} %>
      
    </div>
  </div>
</div>
