<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Buat Member</h3>
    </div>
      <%= render 'form' %>
        <%#= link_to 'Show', @member %> 
</div>
