<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row">
      	<div class="col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-1"><h3>Member Baru</h3></div>
      </div>

      <%= render 'form' %>

      <div class="row">
      	<div class="col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-1"><%= link_to 'Kembali', '#', class: 'btn', data: {dismiss: 'modal'} %></div>
      </div>

      
    </div>
  </div>
</div>
